{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "es6modules": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}
// {
//   "presets": [
//     "@babel/preset-react",
//     [
//       "@babel/preset-env",
//       {
//         "loose": true,
//         "modules": false
//       }
//     ]
//   ],
//   "plugins": [
//     "transform-es2015-modules-commonjs"
//   ]
// }